---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    <blockquote> <p>This article's version history <a href="https://github.com/mturquette/mturquette.github.com/commits/master/_posts/{{ page.id | slugify | append: ".md" }}">on GitHub</a></p></blockquote>
    {{ content }}
  </article>

</div>
